/* Variables */
:root {
    --main-color: #EEB24C;
    --about: rgb(36, 28, 75);
    --footer: rgb(29, 22, 22);
}

.text-main {
    color: var(--main-color);
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#top-nav {
    background: #252504;
    color: #fff;
    padding-top: 15px;
}

#top-nav .fas {
    color: var(--main-color);
}

.navbar-brand {
    background: var(--main-color);
    padding: 20px;
    margin-left: -12px;
    margin-top: -8px;
}

.navbar-light {
    background: transparent;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .show>.nav-link {
    color: var(--main-color);
}

.navbar-light .navbar-nav .nav-link {
    color: #fff
}

#banner {
    background: url("../img/banner/banner.jpg");
    height: 90vh;
    background-size: cover;
}

/* #banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

#brand {
    margin-top: 50px;
}

#about {
    background: var(--about);
    height: 70vh;
    color: #fff;
}

#about img {
    margin-top: 150px;
    width: 90%;
}

#about-img-block {
    position: relative;
    z-index: 999;
}

#about-img-block::before {
    content: "";
    background: var(--main-color);
    position: absolute;
    top: 120px;
    left: 50px;
    width: 210px;
    height: 210px;
    transform: skew(344deg);
    z-index: -1;
}

#about-info {
    color: var(--main-color);
}

#job {
    margin-top: 100px;
}

.job-right-block {
    position: relative;
    float: right;
}

.triangle {
    color: var(--main-color);
    font-size: 20px;
}

.job-left-block {
    background: rgb(38, 39, 39);
    padding: 40px;
    color: #fff;
    position: absolute;
    top: 80px;
    left: -162px;
}

#job-info {
    color: rgb(26, 36, 65);
}

#job hr {
    color: var(--main-color);
}

#job ul {
    list-style: none;
}

#job ul li::before {
    content: '✓';
    font-weight: bolder;
    color: var(--main-color);
    margin-right: 10px;
}

#who-we-are {
    background: var(--main-color);
}

#who-we-are .container {
    padding: 100px;
}


#expertise {
    background: url("../img/expertise/bg.jpg");
    width: 100%;
}

.service-title {
    color: var(--main-color);
    letter-spacing: 3px;
}

#discover-btn {
    background: var(--main-color);
    border-radius: 0;
}

.learn-more {
    border: 1px solid var(--about);
    border-radius: 0;
    color: var(--about);
    font-weight: 700;
}

#great-world {
    margin-top: 100px;
}

.great-world-btn {
    width: 150px;
    height: 50px;
    background: var(--main-color);
    border: none;
    margin-top: 10px;
}

#impact {
    margin-top: 30px;
}

.contact {
    border: 10px solid rgb(236, 236, 236);
    padding: 45px;
}


.form-control:focus,
.btn:focus,
.form-select:focus {
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}


#form input,
#form select,
#form textarea,
#form button {
    border-radius: 0;
}


::-webkit-input-placeholder,
#form select,
#enquiry-form select {
    /* Chrome/Opera/Safari */
    font-size: 12px;
    font-weight: 600;
}

#form select {
    height: 38px;
}

#form .form-submit {
    background: var(--main-color);
    width: 150px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
}

#footer-block {
    background: var(--footer);
    padding: 60px 0;
    margin-top: -4px;
    color: #fff;
}

#footer-nav-links {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#footer-nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}